.confirmation-modal {
  font-size: $md-font-size;
  color: #555;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__message {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: 30px 30px 0px 30px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    border: 2px solid $border-color;
    padding: 10px;
    font-size: $md-font-size;
    margin: $xs-margin;
    text-align: center;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    cursor: pointer;
    color: $default-font;
    &:hover {
      color: darken( #555, 15);
    }
  }
}

@mixin confirmationModal--xs() {
  .confirmation-modal {
    &__message {
      width: 100%;
      text-align: center;
      font-size: $sm-font-size;
      padding: $md-margin $md-margin 0px $md-margin;
    }
    &__buttons{
      margin-top: -50px;
      flex-wrap: nowrap;
    }
    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 25px;
      margin: 5px;
    }
  }
}
