.form {
  // width: 100%;

  &__inputs {
    // border: solid;
    // height: 100%;
  }
  &__buttons {
    // border: solid;
    @include interactable;
    display: flex;
    justify-content: flex-end;
    .icon-button {
      padding: 5px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__input-wrapper {
      // border: solid;
      // width: 30%;
      // width: 30%;
      // display: flex;
      // justify-content: flex-end;
  }

  &__input-container {
    // background: $light-grey;
    // padding: 5px;
    border-radius: $border-radius;
    // display: flex;

    &-errors {
      // border: solid;
    }

    &-label {
      width: 60%;
      display: flex;
      align-items: center;
      margin-right: 10%;
      text-align: left;
      // padding-top: 2px;
    }
  }
}
