.form {


  &__buttons {
    // border: solid;
    @include interactable;
    display: flex;
    justify-content: flex-end;
    .button {
      margin-left: $xs-margin;
    }
    .icon-button {
      padding: $xs-margin;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  &__input-wrapper {}
  &__inputs {}

  &__input-container {
    border-radius: $border-radius;

    &-errors {
      display: flex;
      font-size: $sm-font-size;
      padding: $xs-padding;
      margin-top: -$xs-padding;
      color: $warning;
      // border: solid;
      div {
        display: flex;
      }
      svg {
        fill: $warning;
        height: 15px;
        width: 15px;
      }
    }

    &-label {
      width: 60%;
      display: flex;
      align-items: center;
      margin-right: 10%;
      text-align: left;
    }
  }
}
