.button {
  border: $border-width solid $border-color;
  padding: $sm-padding;
  font-size: $md-font-size;
  text-align: center;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  // min-width: 50px;
  // min-height: 25px;
  color: $default-font;
;
  cursor: pointer;
  background: white;
  @include interactable;

  &.icon-button {
    display: flex;
    min-width: 10px;
    min-height: 10px;
    width: 20px;
    height: 20px;
    padding: $md-padding;
    justify-content: center;
    align-items: center;
    border: $border-width solid $border-color;
    border-radius: $border-radius;
    background: white;
    margin: 0px;
    margin-left: $md-margin;
    @include interactable;

    svg {
      width: 20px;
      height: 20px;
      fill: $default-svg;
    }
  }
}
