$border-color: #E8E7E2;
$background-color: #f8f6ec;
$text-primary: #777;

// $background-color: #eee;
$border-radius: 4px;
$light-grey: #f5f5f5;
$dark-grey: #dbdbdb;
$active-input: #696969;
$hover-grey: $active-input;
$active-border: $active-input;

// overlay
$overlay-opacity: .2;
$overlay-background: grey;

// grid
$container-padding: 20px;

// colors

/// font
$medium-font-size: 1.5rem;
$active-font-color: #333;

/// z-indexes
$overlay-z: 50;
$modal-content-z: 51;
$above-overlay-z: 52;
$filters-z: 47;
$filters-container-z: 50;
$stream-update-button: 47;
$growls-z: 51;
$navbar-z: 47;
